html {
	font-family: Futura, sans-serif;
	font-size: 1em;
}

body {
	max-width: 800px;
	margin: auto 30px auto 30px;
}

a {
	text-decoration: none;
	color: cyan;
}

a:hover {
	color: yellow;
}

a:visited {
	color: magenta;
}

a:visited:hover {
	color: yellow;
}

span {
	color: cyan;
}

span:hover {
	color: yellow;
}