
body {
	max-width: 800px;
	margin: auto 30px auto 30px;
}

a {
	text-decoration: none;
	color: cyan;
}

a:hover {
	color: yellow;
}

a:visited {
	color: magenta;
}

a:visited:hover {
	color: yellow;
}

span {
	color: cyan;
}

span:hover {
	color: yellow;
}

section p {
	display: inline-block;
}

div {
	width: 50px;
	height: 50px;
	opacity: .75;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
}

#cyan,
#magenta,
#yellow {
	margin: 0 -20px 0 0;
}

#cyan {
	background: cyan;
	
}

#magenta {
	background: magenta;
}

#yellow {
	background: yellow;
}

#black {
	background: black;
	color: white;
}

#mailinglist p {
	font-weight: bold;
}

#mailinglist 