html {
	font-family: Futura, sans-serif;
	font-size: 1em;
}

body {
	max-width: 800px;
	margin: auto 30px auto 30px;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: red;
}

span {
	color: blue;
}

span:hover {
	color: red;
}