@media screen and (min-width: 320px) and (max-width: 480px) {
	div {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 5px;
		display: inline-block;

	}

	.halfcircle {
		width: 10px;
		height: 5px;
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
		background-color: blue;
	}

}

@media screen and (min-width: 401px) and (max-width: ) {
	div {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		margin: 5px;
		display: inline-block;

	}

	.halfcircle {
		width: 10px;
		height: 5px;
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
		background-color: blue;
}


