/*.container {
  margin: 7.5%;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  background-color: rgba(0,255,255,.25);
  padding: .5%;
}

a:hover {
  color: white;
  background-color: rgba(255,0,255,.25);
}

a:visited {
  color: black;
}

a:visited:hover {
  color: white;
  background-color: rgba(255,0,255,.25);
}

.b {
  font-size: 1.125em;
}


h2 {
  background-color: rgba(255,255,0,.25);
  padding: 1%;
}*/