section {
	text-align: center;
	display: block;
}

div {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 10px;
	display: inline-block;

}

.halfcircle {
	width: 25px;
	height: 12.5px;
	border-radius: 12.5px 12.5px 0 0;
	-moz-border-radius: 12.5px 12.5px 0 0;
	-webkit-border-radius: 12.5px 12.5px 0 0;
}

/* KEEP */

.goldenrod {
	background-color: goldenrod;
}

.orangered {
	background-color: orangered;
}

.saddlebrown {
	background-color: saddlebrown;
}

.olive {
	background-color: olive;
}

.cadetblue {
	background-color: cadetblue;
}

.maroon {
	background-color: maroon;
}

.coral {
	background-color: coral;
}

.darkslateblue {
	background-color: darkslateblue;
}

.lightcoral {
	background-color: lightcoral;
}

.lightskyblue {
	background-color: lightskyblue;
}

.palegoldenrod {
	background-color: palegoldenrod;
}

.lightpink {
	background-color: lightpink;
}

.lightsteelblue {
	background-color: lightsteelblue;
}

.olivedrab {
	background-color: olivedrab;
}

.darkblue {
	background-color: darkblue;
}

.aliceblue {
	background-color: aliceblue;
}

.mistyrose {
	background-color: mistyrose;
}

.navy {
	background-color: navy;
}

.khaki {
	background-color: khaki;
}

/* REMOVE */



.antiquewhite {
	background-color: antiquewhite;
}

.aqua {
	background-color: aqua;
}

.aquamarine {
	background-color: aquamarine;
}

.azure {
	background-color: azure;
}

.beige {
	background-color: beige;
}

.bisque {
	background-color: bisque;
}

.black {
	background-color: black;
}

.blanchedalmond {
	background-color: blanchedalmond;
}

.blue {
	background-color: blue;
}

.blueviolet {
	background-color: blueviolet;
}

.brown {
	background-color: brown;
}

.burlywood {
	background-color: burlywood;
}



.chartreuse {
	background-color: chartreuse;
}

.chocolate {
	background-color: chocolate;
}



.cornflowerblue {
	background-color: cornflowerblue;
}

.cornsilk {
	background-color: cornsilk;
}

.crimson {
	background-color: crimson;
}

.cyan {
	background-color: cyan;
}



.darkcyan {
	background-color: darkcyan;
}

.darkgoldenrod {
	background-color: darkgoldenrod;
}

.darkgray {
	background-color: darkgray;
}

.darkgreen {
	background-color: darkgreen;
}

.darkgrey {
	background-color: darkgrey;
}

.darkkhaki {
	background-color: darkkhaki;
}

.darkmagenta {
	background-color: darkmagenta;
}

.darkolivegreen {
	background-color: darkolivegreen;
}

.darkorange {
	background-color: darkorange;
}

.darkorchid {
	background-color: darkorchid;
}

.darkred {
	background-color: darkred;
}

.darksalmon {
	background-color: darksalmon;
}

.darkseagreen {
	background-color: darkseagreen;
}



.darkslategray {
	background-color: darkslategray;
}

.darkslategrey {
	background-color: darkslategrey;
}

.darkturquoise {
	background-color: darkturquoise;
}

.darkviolet {
	background-color: darkviolet;
}

.deeppink {
	background-color: deeppink;
}

.deepskyblue {
	background-color: deepskyblue;
}

.dimgray {
	background-color: dimgray;
}

.dimgrey {
	background-color: dimgrey;
}

.dodgerblue {
	background-color: dodgerblue;
}

.firebrick {
	background-color: firebrick;
}

.floralwhite {
	background-color: floralwhite;
}

.forestgreen {
	background-color: forestgreen;
}

.fuchsia {
	background-color: fuchsia;
}

.gainsboro {
	background-color: gainsboro;
}

.ghostwhite {
	background-color: ghostwhite;
}

.gold {
	background-color: gold;
}



.gray {
	background-color: gray;
}

.green {
	background-color: green;
}

.greenyellow {
	background-color: greenyellow;
}

.grey {
	background-color: grey;
}

.honeydew {
	background-color: honeydew;
}

.hotpink {
	background-color: hotpink;
}

.indianred {
	background-color: indianred;
}

.indigo {
	background-color: indigo;
}

.ivory {
	background-color: ivory;
}



.lavender {
	background-color: lavender;
}

.lavenderblush {
	background-color: lavenderblush;
}

.lawngreen {
	background-color: lawngreen;
}

.lemonchiffon {
	background-color: lemonchiffon;
}

.lightblue {
	background-color: lightblue;
}



.lightcyan {
	background-color: lightcyan;
}

.lightgoldenrodyellow {
	background-color: lightgoldenrodyellow;
}

.lightgray {
	background-color: lightgray;
}

.lightgreen {
	background-color: lightgreen;
}

.lightgrey {
	background-color: lightgrey;
}



.lightsalmon {
	background-color: lightsalmon;
}

.lightseagreen {
	background-color: lightseagreen;
}



.lightslategray {
	background-color: lightslategray;
}

.lightslategrey {
	background-color: lightslategrey;
}



.lightyellow {
	background-color: lightyellow;
}

.lime {
	background-color: lime;
}

.limegreen {
	background-color: limegreen;
}

.linen {
	background-color: linen;
}

.magenta {
	background-color: magenta;
}



.mediumaquamarine {
	background-color: mediumaquamarine;
}

.mediumblue {
	background-color: mediumblue;
}

.mediumorchid {
	background-color: mediumorchid;
}

.mediumpurple {
	background-color: mediumpurple;
}

.mediumseagreen {
	background-color: mediumseagreen;
}

.mediumslateblue {
	background-color: mediumslateblue;
}

.mediumspringgreen {
	background-color: mediumspringgreen;
}

.mediumturquoise {
	background-color: mediumturquoise;
}

.mediumvioletred {
	background-color: mediumvioletred;
}

.midnightblue {
	background-color: midnightblue;
}

.mintcream {
	background-color: mintcream;
}



.moccasin {
	background-color: moccasin;
}

.navajowhite {
	background-color: navajowhite;
}



.oldlace {
	background-color: oldlace;
}





.orange {
	background-color: orange;
}



.orchid {
	background-color: orchid;
}



.palegreen {
	background-color: palegreen;
}

.paleturquoise {
	background-color: paleturquoise;
}

.palevioletred {
	background-color: palevioletred;
}

.papayawhip {
	background-color: papayawhip;
}

.peachpuff {
	background-color: peachpuff;
}

.peru {
	background-color: peru;
}

.pink {
	background-color: pink;
}

.plum {
	background-color: plum;
}

.powderblue {
	background-color: powderblue;
}

.purple {
	background-color: purple;
}

.red {
	background-color: red;
}

.rosybrown {
	background-color: rosybrown;
}

.royalblue {
	background-color: royalblue;
}



.salmon {
	background-color: salmon;
}

.sandybrown {
	background-color: sandybrown;
}

.seagreen {
	background-color: seagreen;
}

.seashell {
	background-color: seashell;
}

.sienna {
	background-color: sienna;
}

.silver {
	background-color: silver;
}

.skyblue {
	background-color: skyblue;
}

.slateblue {
	background-color: slateblue;
}

.slategray {
	background-color: slategray;
}

.slategrey {
	background-color: slategrey;
}

.snow {
	background-color: snow;
}

.springgreen {
	background-color: springgreen;
}

.steelblue {
	background-color: steelblue;
}

.tan {
	background-color: tan;
}

.teal {
	background-color: teal;
}

.thistle {
	background-color: thistle;
}

.tomato {
	background-color: tomato;
}

.turquoise {
	background-color: turquoise;
}

.violet {
	background-color: violet;
}

.wheat {
	background-color: wheat;
}

.white {
	background-color: white;
}

.whitesmoke {
	background-color: whitesmoke;
}

.yellow {
	background-color: yellow;
}

.yellowgreen {
	background-color: yellowgreen;
}





