body {
	font-family: Futura, sans-serif;
}

body {
	padding-top: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#headshot {
	border-radius: 10%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.navbar {
	height: 50px;
}

#about,
#projects,
#resume,
#contact {
	padding-top: 50px;
	margin-top: -50px;
}

.section #contact {
	margin-bottom: 5%;
}

#contact div {
	/*display: inline-block;*/
	text-align: left;
}

/*p {
	font-size: 1.125em;
}*/

/*.navbar {
	background-color: white;
	border: 2px solid black;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-brand:hover {
	color: cyan;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.navbar-default .navbar-nav>li>a:hover {
	color: yellow;
}*/