body {
	font-family: 'Futura', sans-serif;
	padding-top: 50px;
	background-color: #FFF;
	color: #000;
}

p {
  font-size: 1.25em;
}

.navbar {
  background-color: #000;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: red;
}

a:visited {
	text-decoration: none
	color: blue;
}

a.navbar-brand.nav-color {
  color: white;
}

a.navbar-brand.nav-color:hover {
  color: blue;
}